<h2>List of <%= @ratings.size %> ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
  <li> <%= rating %> by <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<br>
<br>

<% if !current_user.nil? %>

<%= link_to 'new rating', new_rating_path %>

    <% end %>

sdfksdfksdfdf