<h2>Top 3 Beer Critics</h2>
<%= render 'list2', users: find_by_sql("SELECT * FROM User JOIN Rating WHERE Rating.user_id = User.id") %>

<h2>Last 5 ratings</h2>
<%= render 'list', ratings: @ratings.all.order(:created_at).limit(5) %>

<% if !current_user.nil? %>

<%= link_to 'new rating', new_rating_path %>

    <% end %>

sdfksdfksdfdf